<!-- views/layout.hbs -->
<!DOCTYPE html>
<html>
<head>
  
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">


</head>
<body>
  <header>
    <a href="/userhome"><h1>Sweeter Than Fiction</h1></a>
  </header>
  
  {{{body}}} 

  <!-- Link to the JavaScript file -->
  <script src="/js/wishlist.js"></script>

</body>
</html>

