{{!< layout }}

<div class="content-container">
  <h2>Join the Swiftie Community!</h2>
  <p>We're so happy to see you here!</p>
  <form action="/register" method="POST">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="button-container">
      <button type="submit">Register</button>
    </div>
  </form>
</div>
